.container {

    background-color: transparent;
    width: 320px;
    height: 390px;
    border-radius: 10px;
    border: 1px solid red;

}

.registerform {

    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    padding: 2%;
    align-items: center;
    color: white;
    gap: 2.8%;
    
}

span {

    width: fit-content;
    font-size: small;
    height: fit-content;

}

.tittle {

    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(209, 205, 205);
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.inputsContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    min-height: 35%;
    margin-top: -8%;
    gap: 2%;

}


.gendersContainer {

    display: flex;
    width: 90%;
    flex-direction: column;
    min-height: fit-content;

}


.gendersContainer>span {
    font-size: 15px;
    font-family: 'Roboto';
    color: #7c7b7b;

}

.gendersSubContainer {

    display: flex;
    justify-content: start;
    height: 20px;

}

.genderItem {

    display: flex;
    align-items: center;
    justify-content: start;
    width: 30%;
    gap: 7%;
}


.genderItem input {

    width: 15%;
}


.buttonsContainer {

    display: flex;
    justify-content: center;
    width: 95%;
    height: fit-content;
    margin-top: 2%;
}



.registerButton {


    width: inherit;

}



.inputsContainer>input {

    border-radius: 8px;
    border: none;
    border-bottom: 1px solid rgb(124, 14, 14);
    background-color: inherit;
    outline: unset;
    min-height: 40px;
    width: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: white;

}

.inputsContainer>input:nth-child(1) {
    margin-top: 2%;

}

.inputsContainer>input:focus {

    border: 1px solid rgb(5, 108, 241);
    border-radius: 6px;
    outline: unset;
}


hr {

    width: inherit;
    border-top: 1px solid rgba(255, 255, 255, 0.596);
    height: 10px;
    margin-top: 10px;
    opacity: 0.5;
    margin-bottom: 5px;
}

a {

    font-size: small;
    cursor: pointer;
}


.linksContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 7%;


}